<div class="container">
  <div class="row">
    <div class="col-4">
      <a class="navbar-brand">Employee DashBoard</a>
      <ul>
        <li>
          <a class="nav-link" routerLink="/employee/add" routerLinkActive="active">Add Employee</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/employee/edit" routerLinkActive="active">Edit Employee</a>
        </li>
      </ul>

    </div>

    <div class="col-8" style="color: red">
      <div>
        2 multiplied by 10:- {{ 2 | multiplyBy :10}}

      </div>
      <input type="button" value="click me" (click)='callMe()'>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
